<div class="pin" pin_id="<%= pin.id %>">
  <div class="holder">
  <% if user_signed_in? %>
    <div class="actions">
        <%= vote_button(pin) %>
        <a href="javascript:;" class="button comment_tr">Comment</a>
    </div>
  <% end %>
    <%= link_to (image_tag pin.image.url(:thumb)), pin, class: "image" %>
  </div>
  <div class="padd">
    <p class="desc"><%= pin.description %></p>
    <p class="info">
        <span class="LikesCount"><%= pluralize(pin.votes.count, "like") %></span>
        <span class="CommentsCount"><%= pluralize(pin.comments.count, "comment") %></span>
    </p>
  </div>
  <div class="comment">
    <div class="comment_user">
     <%= link_to gravatar(pin.user), user_path(pin.user.id) %>
    </div>
    <div class="commentbody">
      <b><%= link_to first_name(pin.user), user_path(pin.user.id) %></b>
      <br><%= link_to(time_ago_in_words(pin.created_at), pin) %> ago
    </div>
  </div>
  <%= render pin.comments.last(2).reverse %>
  <% if user_signed_in? %>
    <%= form_for([pin, pin.comments.build], html: { class: "comment", style: "display:none" }) do |f| %>
      <%= f.text_area :content, placeholder: "Add a comment.." %>
      <%= f.submit class: 'button postbutton', value: 'Comment' %>
    <% end %>
  <% end %>
</div>
