<div class="comments">
  <div class="comment comment_area">
    <div class="comment_user">
     <%= link_to gravatar(comment.user), user_path(comment.user) %>
    </div>
    <div class="commentbody">
      <b><%= link_to first_name(comment.user), user_path(comment.user) %></b>
        &nbsp; <%= time_ago_in_words(comment.created_at) %> ago<br>
        <%= comment.content %>
        <div class="inline"><%= delete_comment_button(comment) %></div>
    </div>
  </div>
</div>
