<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <!-- <a href="#add_form" id="add_pop">Add +</a> -->
    <%= link_to "Add +", new_pin_path, id: "add_pop" %></li>
    <li id="UserNav">
        <%= link_to user_path(current_user.id), class: "nava" do %>
            <%= gravatar(current_user) %>
            <%= first_name(current_user) %>
        <% end %>
       <ul>
          <li><a href="#">Invite Friends</a></li>
          <li><a href="#">Find Friends</a></li>
          <li class="div"><a href="#">Boards</a></li>
          <li><a href="#">Pins</a></li>
          <li><a href="#">Likes</a></li>
          <li class="div"><a href="#">Settings</a></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to "Join", new_user_registration_path, id: "join_pop" %></li>
    <li><%= link_to "Login", new_user_session_path, id: "login_pop" %></li>
  <% end %>
</ul>
