<!DOCTYPE html>
<html>
<head>
  <title>Lovemate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
  <script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
      <strong><%= key.humanize %>!</strong> <%= value %>
    </div>
  <% end %>

  <div class="body_container">
<div class="main_container" style="position: relative; height: 865px; width: 948px;">

    <%= yield %>
</div>

  </div>

</body>
</html>
